body {
    overflow-x: hidden;
    font-family: 'NanumSquare', 'Nanum Gothic', 'Roboto', sans-serif;

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #555555;
    }

    &::-webkit-scrollbar {
        width: 10px;
        background-color: #555555;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background: linear-gradient(229deg, rgba(91, 143, 255, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(285deg, rgba(20, 228, 255, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(343deg, rgb(0, 44, 19), rgba(0, 0, 255, 0) 70.71%);
    }

}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &1 {
        background: blue;
    }

    &2 {
        background: crimson;
    }

    &3 {
        background: darkorchid;
    }

    & h1 {
        font-size: 50px;
        text-align: center;
    }

    @at-root .horizon_box {
        position: absolute;
        top: 0;
        left: 100%;
    }
}

.flex-center {
    justify-content: center;
    align-content: center;
}

.spin {
    transform: rotate(230deg);
    margin-left: 500px;
}

/*svg 스트로크 시작*/
.text-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg text {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 3vw;
    fill: transparent;
    stroke-dasharray: 326px;
    animation: stroke 2s linear;
    animation-fill-mode: forwards;
    font-weight: 600;

    &:nth-child(1) {
        animation-delay: 0s;
    }

    &:nth-child(2) {
        animation-delay: 0s;
    }

    &:nth-child(3) {
        animation-delay: 0.5s;
    }

    &:nth-child(4) {
        animation-delay: 0.5s;
    }

    &:nth-child(5) {
        animation-delay: 0.5s;
    }

    &:nth-child(6) {
        animation-delay: 0.5s;
    }

    &:nth-child(7) {
        animation-delay: 0.5s;
    }

    &:nth-child(8) {
        animation-delay: 0.5s;
    }

    &:nth-child(9) {
        animation-delay: 0.5s;
    }

    &:nth-child(10) {
        animation-delay: 0.5s;
    }

    &:nth-child(11) {
        animation-delay: 0.5s;
    }

    &:nth-child(12) {
        animation-delay: 0.5s;
    }

    &:nth-child(13) {
        animation-delay: 1s;
    }
    &:nth-child(14) {
        animation-delay: 1s;
    }

    &:nth-child(15) {
        animation-delay: 1s;
    }

    &:nth-child(16) {
        animation-delay: 1s;
    }

    &:nth-child(17) {
        animation-delay: 1s;
    }

    &:nth-child(18) {
        animation-delay: 1s;
    }

    &:nth-child(19) {
        animation-delay: 1s;
    }

    &:nth-child(20) {
        animation-delay: 1s;
    }
}

@keyframes stroke {
    0% {
        stroke: #333333;
        stroke-width: 1px;
        stroke-dashoffset: 326px;
    }

    70% {
        fill: transparent;
    }

    99% {
        stroke: #333333;
        stroke-width: 3px;
    }

    100% {
        fill: #111111;
        stroke-width: 3px;
    }
}

/*마우스커서용*/
.circle {
    position: absolute;
    // top: 0;
    // left: 0;
    width: 20px;
    height: 20px;
    // border-radius: 50%;
    // background-color: rebeccapurple;
    // filter: drop-shadow(16px 16px 10px rgb(255, 255, 255));
    border: 1px solid #fff;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    z-index: 99999;
    pointer-events: none;
    transform: rotate(45deg);

    // &2 {
    //     @extend .circle;
    //     width: 10px;
    //     height: 10px
    // }

    &.on {
        animation-name: slidein;
        animation-duration: 0.8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    &.off {
        animation-name: slideout;
        animation-duration: 0.8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}

@keyframes slidein {
    0% {}

    100% {
        border: 1px solid rebeccapurple;
        background-color: rebeccapurple;
        transform: rotate(135deg);
        width: 35px;
        height: 35px;
    }

}

@keyframes slideout {
    0% {
        border: 1px solid rebeccapurple;
        background-color: rebeccapurple;
        transform: rotate(135deg);
        width: 35px;
        height: 35px;
    }

    100% {
        border: 1px solid #fff;
        background-color: transparent;
        transform: rotate(45deg);
        width: 20px;
        height: 20px;
    }

}

.c-go-top {
    /*	background: none repeat scroll 0 0 padding-box #ffffff;*/
    /*	border: 1px solid #1099dd;*/
    background: linear-gradient(229deg, rgba(119, 107, 255, 0.8), rgba(255, 0, 0, 0) 90.71%), linear-gradient(84deg, rgb(52 102 255 / 80%), rgba(0, 255, 0, 0) 70.71%), linear-gradient(343deg, rgb(26, 121, 255), rgba(0, 0, 255, 0) 70.71%);
    bottom: 30px;
    border-radius: 4px;
    color: #333333;
    display: none;
    font-size: 13px;
    opacity: 1;
    padding: 7px 13px;
    position: fixed;
    right: 2%;
    text-decoration: none;
    z-index: 999;
    color: #ffffff !important;
    padding-top: 13px;
}

.c-go-top:hover,
.c-go-top:focus,
.c-go-top:active,
.c-go-top:visited {
    color: #fff;
    outline: 0;
    text-decoration: none;
    background-color: darkcyan;
}

.sec2 {
    width: 100%;
    height: 100%;

    background: {
        image: url(../img/bg2.svg);
        repeat: no-repeat;
        position: top center;
        size: cover;
        attachment: fixed;
    }
}

.sec3 {
    width: 100%;
    height: 100%;

    background: {
        image: url(../img/bg3.svg);
        repeat: no-repeat;
        position: top center;
        size: cover;
        attachment: fixed;
    }
}

.sec4 {
    width: 100%;
    height: 100%;

    background: {
        image: url(../img/bg4.svg);
        repeat: no-repeat;
        position: bottom center;
        size: cover;
        attachment: local;
    }
}

.nav-item {
    font-size: 1vw;
    font-weight: 600;
}

.cursor-pointer {
    cursor: pointer;
}

.w-55 {
    width: 55%;
}

.w-62 {
    width: 62%;
}

.w-89 {
    width: 89%;
}

#loading-wrapper2 {
    position: fixed;
    background-color: white;
    height: 100vh;
    width: 100vw;
    z-index: 9999
}