html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: "NanumSquare", "Nanum Gothic", "Roboto", sans-serif;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #555555;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #555555;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: linear-gradient(229deg, rgba(91, 143, 255, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(285deg, rgba(20, 228, 255, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(343deg, rgb(0, 44, 19), rgba(0, 0, 255, 0) 70.71%);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.box1 {
  background: blue;
}
.box2 {
  background: crimson;
}
.box3 {
  background: darkorchid;
}
.box h1 {
  font-size: 50px;
  text-align: center;
}
.horizon_box {
  position: absolute;
  top: 0;
  left: 100%;
}

.flex-center {
  justify-content: center;
  align-content: center;
}

.spin {
  transform: rotate(230deg);
  margin-left: 500px;
}

.text-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg text {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 3vw;
  fill: transparent;
  stroke-dasharray: 326px;
  -webkit-animation: stroke 2s linear;
          animation: stroke 2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  font-weight: 600;
}
svg text:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
svg text:nth-child(2) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
svg text:nth-child(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
svg text:nth-child(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
svg text:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
svg text:nth-child(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
svg text:nth-child(7) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
svg text:nth-child(8) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
svg text:nth-child(9) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
svg text:nth-child(10) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
svg text:nth-child(11) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
svg text:nth-child(12) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
svg text:nth-child(13) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
svg text:nth-child(14) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
svg text:nth-child(15) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
svg text:nth-child(16) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
svg text:nth-child(17) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
svg text:nth-child(18) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
svg text:nth-child(19) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
svg text:nth-child(20) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes stroke {
  0% {
    stroke: #333333;
    stroke-width: 1px;
    stroke-dashoffset: 326px;
  }
  70% {
    fill: transparent;
  }
  99% {
    stroke: #333333;
    stroke-width: 3px;
  }
  100% {
    fill: #111111;
    stroke-width: 3px;
  }
}

@keyframes stroke {
  0% {
    stroke: #333333;
    stroke-width: 1px;
    stroke-dashoffset: 326px;
  }
  70% {
    fill: transparent;
  }
  99% {
    stroke: #333333;
    stroke-width: 3px;
  }
  100% {
    fill: #111111;
    stroke-width: 3px;
  }
}
.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  z-index: 99999;
  pointer-events: none;
  transform: rotate(45deg);
}
.circle.on {
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.circle.off {
  -webkit-animation-name: slideout;
          animation-name: slideout;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slidein {
  100% {
    border: 1px solid rebeccapurple;
    background-color: rebeccapurple;
    transform: rotate(135deg);
    width: 35px;
    height: 35px;
  }
}

@keyframes slidein {
  100% {
    border: 1px solid rebeccapurple;
    background-color: rebeccapurple;
    transform: rotate(135deg);
    width: 35px;
    height: 35px;
  }
}
@-webkit-keyframes slideout {
  0% {
    border: 1px solid rebeccapurple;
    background-color: rebeccapurple;
    transform: rotate(135deg);
    width: 35px;
    height: 35px;
  }
  100% {
    border: 1px solid #fff;
    background-color: transparent;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
  }
}
@keyframes slideout {
  0% {
    border: 1px solid rebeccapurple;
    background-color: rebeccapurple;
    transform: rotate(135deg);
    width: 35px;
    height: 35px;
  }
  100% {
    border: 1px solid #fff;
    background-color: transparent;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
  }
}
.c-go-top {
  background: linear-gradient(229deg, rgba(119, 107, 255, 0.8), rgba(255, 0, 0, 0) 90.71%), linear-gradient(84deg, rgba(52, 102, 255, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(343deg, rgb(26, 121, 255), rgba(0, 0, 255, 0) 70.71%);
  bottom: 30px;
  border-radius: 4px;
  color: #333333;
  display: none;
  font-size: 13px;
  opacity: 1;
  padding: 7px 13px;
  position: fixed;
  right: 2%;
  text-decoration: none;
  z-index: 999;
  color: #ffffff !important;
  padding-top: 13px;
}

.c-go-top:hover,
.c-go-top:focus,
.c-go-top:active,
.c-go-top:visited {
  color: #fff;
  outline: 0;
  text-decoration: none;
  background-color: darkcyan;
}

.sec2 {
  width: 100%;
  height: 100%;
  background-image: url(../img/bg2.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.sec3 {
  width: 100%;
  height: 100%;
  background-image: url(../img/bg3.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.sec4 {
  width: 100%;
  height: 100%;
  background-image: url(../img/bg4.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-attachment: local;
}

.nav-item {
  font-size: 1vw;
  font-weight: 600;
}

.cursor-pointer {
  cursor: pointer;
}

.w-55 {
  width: 55%;
}

.w-62 {
  width: 62%;
}

.w-89 {
  width: 89%;
}

#loading-wrapper2 {
  position: fixed;
  background-color: white;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
}

.nav-link:hover {
  color: #a400e0 !important;
  font-weight: bolder;
  -webkit-animation-name: upper;
          animation-name: upper;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes upper {}

@keyframes upper {}/*# sourceMappingURL=compile.css.map */